@media (min-width: 768px) {
    .menu {
        flex-direction: row;
        justify-content:center;
        display: flex;
        } 

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Roboto Mono', monospace;
}

/** LOGO HERBALIFE*/
.nav-brand{
    position:absolute;
    z-index: 10;
    }
.container-fluid{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
/** MENÚ */
.navegacion-principal{
    padding: 1rem;
    display:list-item;
    justify-content: space-around;
}

.navbar {
    z-index: 10;
    position: fixed;
    height:17vh;
    width: 100vw;
    align-items:stretch;
    justify-content:right;
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
} 

/*** EFECTOS MENU navegador extendido ***/
.navbar-nav {
    display:flex;
    justify-content: space-around;
    font-size: 5rem;
    font-family: 'Bungee Spice', cursive;
    
    }

.navbar-nav li {
    border-radius: 30px;
    list-style:circle;
    margin: 0 50px;
    justify-content: center;
    -webkit-border-radius: 3000px;
    -moz-border-radius: 3000px;
    -ms-border-radius: 3000px;
    -o-border-radius: 3000px;
} 

/*! Item normal*/

.navbar-nav li a {
    padding: 7px 7px;
    color: rgb(246, 180, 0);
    text-decoration:#EE5A24;
    text-transform: uppercase;
    display: block;
    justify-content:right;
} 

/*! menu cuando le pasas el mause */

.nav-link li a:hover{
    padding: 5px 10px;
    color: #EE5A24;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.btn_menu {
    margin-right: 2px;
    font-size: 10rem;
    color: #f36f01;
    cursor: pointer;
    display: none;
    justify-content: center;
}

ul.show {
    top: 30px;
    }

.show {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}
.espacio{
    margin-top: auto;
}
#ribbon {
    background-color: rgb(11, 11, 11);
    z-index: -100;
}

#ribbon::after {
    content:icon;
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;

}

#separator-ribbon {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separator-ribbon .content {
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#highlighted {
    background-color: transparent;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
}

#highlighted img {
    position: relative;
    margin-top: -70px;
}

#outstanding {
    background: rgb(255, 255, 255);
    background: url(../img/bg-02.png), linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgb(161, 255, 99) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover {
    transform: scale(1.05);
}

.text-shadow {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

#separator-herbas {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -200;
}

#separator-herbas .content {
    background-color: black;
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


#herbas {
    background: url(/img/banner-herbalife.jpg);
    background-repeat: no-repeat;
    background-position: bottom center, center center;
    background-size: 100%, auto;
    
}

.herba-name {
    font-family: 'Bitter', serif;
}

.herba {
    cursor: pointer;
    transition: all ease-out 0.2s;
    
}

.herba:hover {
    transform: scale(1.05);
}

.herba-name {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
   
}

#play {
    background: url(../img2/bg-04.png);
    background-color: rgb(255, 255, 219);
    background-size: 40px 40px;
}

#footer {
    background: url(../img2/bg-04.png);
    background-color: rgb(224, 144, 24);
    background-size: 50px 50px;
}
